/* shift */
.Day-shift-btn {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.night-shift-btn {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.body-wrap-day {
  background: rgb(255, 255, 255);
}

.body-wrap-night {
  background: rgba(176, 176, 176, 0.786);
}

/* nav */
.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgb(165, 165, 182);
}

.nav-title {
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-left: 100px;
}

/* nav-bootstrap */
.dropdown {
  margin-left: 20px;
}

.btn-primary,
.dropdown-menu li {
  width: 150px;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  box-shadow: none;
  border: 1px solid black;
  color: rgb(216, 216, 216);
  background: rgb(0, 0, 0);
}

/* contents */
.contents-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contents-logo {
  margin-top: 40px;
  width: 220px;
}

.contents-search-box {
  display: flex;
  width: 400px;
}

.contents-search-box input {
  width: 90%;
  height: 30px;
  margin-right: 0.1px;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.505);
  border-radius: 5px;
}

.contents-search-box input:focus {
  outline: none;
}

.contents-search-box button {
  width: 50px;
  height: 30.2px;
  font-weight: 500;
  margin-left: -5px;
  border: 1px solid rgba(0, 0, 0, 0.505);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background: rgb(209, 209, 222);
}

/* contents-user */
.user-info-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  height: 150px;
  margin-left: 20px;
  margin-top: 30px;
}

.user-icon {
  position: absolute;
  left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.user-info-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 180px;
}

.user-nickname {
  font-size: 20px;
}

.user-level {
  font-size: 18px;
  font-weight: 100;
}

.user-tier-box {
  display: flex;
}

.user-rank {
  margin-left: 2px;
}

/* History */

.history-item-box {
  width: 800px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.history-contents {
  display: flex;
  height: 170px;
}

.history-user-box {
  background: rgb(187, 172, 172);
  width: 250px;
}

.history-user-kda {
  background: rgb(147, 200, 145);
  width: 200px;
}

.history-user-other {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(139, 228, 229);
  width: 350px;
}

.user-other-list {
  width: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.user-other-img {
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  margin-right: 5px;
  color: white;
}

.user-other-item {
  font-weight: 500;
}
